* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f6fa;
}

/* BANNER ATAS */
.header-banner {
    width: 100%;
    height: 180px;
    background: url("https://images.unsplash.com/photo-1521295121783-8a321d551ad2?q=80&w=1200")
    center/cover;
    filter: brightness(60%);
    position: relative;
    z-index: 1; /* banner paling bawah */
}

/* KOTAK PROFIL */
.profile-box {
    background: white;
    width: 70%;
    max-width: 700px;
    margin: -80px auto 50px;
    padding: 40px 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    position: relative;
    z-index: 5; /* card di atas banner */
}

/* FOTO PROFIL */
.avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 6px solid white;
    margin-top: -100px;
    object-fit: cover;
    position: relative;
    z-index: 10; /* foto paling atas */
}



/* NAMA */
.name {
    margin-top: 15px;
    font-size: 28px;
    font-weight: 700;
}

.role {
    font-size: 14px;
    font-weight: 500;
    color: #555;
    letter-spacing: 1px;
}

/* SOSIAL MEDIA */
.social-icons {
    margin: 18px 0;
}

.social-icons i {
    margin: 0 10px;
    color: #444;
    cursor: pointer;
}

.bio {
    max-width: 450px;
    margin: 10px auto 30px;
    font-size: 14px;
    color: #666;
}

/* MENU GRID */
.menu-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.menu-item {
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.menu-item i {
    width: 40px;
    height: 40px;
}

.menu-item span {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 500;
    color: #444;
}

.menu-item:hover {
    transform: translateY(-5px);
}

.menu-item.active {
    background: #c300ff;
    padding: 18px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 8px 15px rgba(195, 0, 255, 0.4);
}

.menu-item.active span {
    color: white;
}
