* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f6fa;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
    background: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.logo span {
    color: #c300ff;
}

.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #c300ff;
}

/* PORTOFOLIO SECTION */
.portfolio-section {
    width: 85%;
    max-width: 1100px;
    margin: 50px auto;
    text-align: center;
}

.title {
    font-size: 30px;
    font-weight: 700;
}

.subtitle {
    margin-bottom: 40px;
    font-size: 14px;
    color: #666;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    padding-bottom: 20px;
    transition: .3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.card h3 {
    margin: 15px 0 5px;
}

.card p {
    padding: 0 15px;
    font-size: 14px;
    color: #555;
}
