* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f6fa;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
    background: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.logo {
    font-size: 22px;
    font-weight: 700;
}

.logo span {
    color: #c300ff;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    font-weight: 500;
    color: #444;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #c300ff;
}

/* LAYOUT PROFIL */
.profile-section {
    width: 85%;
    max-width: 1100px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
}

.left {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.left .avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.right {
    background: white;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.right h3 {
    margin: 20px 0 10px;
    font-size: 20px;
}

.right p {
    line-height: 1.6;
}

table {
    width: 100%;
    margin-top: 5px;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
}

ul li {
    margin-left: 20px;
    line-height: 1.7;
}
