* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f6fa;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: white;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.logo span {
    color: #b026ff;
}

.navbar nav a {
    margin-left: 25px;
    text-decoration: none;
    font-size: 16px;
    color: #444;
    transition: .3s;
}

.navbar nav a:hover {
    color: #b026ff;
}

.navbar nav a.active {
    color: #b026ff;
    font-weight: 600;
}

/* TITLE SECTION */
.title-section {
    text-align: center;
    padding: 60px 20px 10px;
}

.title-section h1 {
    font-size: 40px;
    font-weight: 700;
}

.title-section p {
    margin-top: 10px;
    color: #555;
}

/* WRAPPER */
.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 85%;
    margin: 40px auto;
}

/* LEFT INFO CARD */
.info-card {
    width: 35%;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.info-card h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.info-card p {
    margin: 10px 0;
    font-size: 15px;
}

.info-card a {
    color: #5a00e0;
    text-decoration: none;
}

.info-card a:hover {
    text-decoration: underline;
}

/* Social Icons */
.social-icons {
    margin-top: 25px;
}

.social-icons a {
    margin-right: 12px;
    display: inline-block;
    padding: 10px;
    background: #eee;
    border-radius: 8px;
    transition: .2s;
}

.social-icons a:hover {
    background: #b026ff;
    color: white;
}

.social-icons i {
    width: 20px;
    height: 20px;
}

/* FORM AREA */
.form-card {
    width: 55%;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.form-card h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.form-card form label {
    display: block;
    margin: 15px 0 5px;
}

.form-card input,
.form-card textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

textarea {
    height: 140px;
    resize: none;
}

button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    background: #b026ff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: #8b00cc;
}
